<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6a9f761a-afc2-481f-a777-76bd3a020a24/resourcegroups/Group4/providers/Microsoft.Web/sites/WebAppsProsjekt120181002112838</ResourceId>
    <ResourceGroup>Group4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webappsprosjekt120181002112838.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webappsprosjekt120181002112838.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppsProsjekt120181002112838</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppsProsjekt120181002112838</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebAppsProsjekt1.Models.DB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:webappsoblig1.database.windows.net,1433;Initial Catalog=webapps;Persist Security Info=False;User ID=jerry;Password=Destroyer1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:webappsoblig1.database.windows.net,1433;Initial Catalog=webapps;Persist Security Info=False;User ID=jerry;Password=Destroyer1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppsProsjekt1.Models.DB, WebAppsProsjekt1" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MovieMonster" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:webappsoblig1.database.windows.net,1433;Initial Catalog=webapps;Persist Security Info=False;User ID=jerry;Password=Destroyer1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:webappsoblig1.database.windows.net,1433;Initial Catalog=webapps;Persist Security Info=False;User ID=jerry;Password=Destroyer1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MovieMonsterDatabase.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MovieMonster_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source = (LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MovieMonsterDatabase.mdf;Integrated Security = True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MovieMonster-Web.config Connection String">
      <ParameterValue>Server=tcp:webappsoblig1.database.windows.net,1433;Initial Catalog=webapps;Persist Security Info=False;User ID=jerry;Password=Destroyer1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="WebAppsProsjekt1.Models.DB-Web.config Connection String">
      <ParameterValue>Server=tcp:webappsoblig1.database.windows.net,1433;Initial Catalog=webapps;Persist Security Info=False;User ID=jerry;Password=Destroyer1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WebAppsProsjekt1.Models.DB" />
  </ItemGroup>
</Project>