.form-headers {
    color: #444444;
    font-size: 5vh;
    margin: 10vh 0 2vh 0;
}

.form-control {
    margin-bottom: 1vh;
}

.btn.btn-success {
    margin-bottom:1vh;
}

.control-label {
    font-size: 2vh;
	margin-top: 0.8vh;
}

