.main-div {
    max-width: 50%;
    min-width: 33%;
}

.form-headers {
    color: #444444;
    font-size: 5vh;
    margin: 10vh 0 2vh 1.3vh;
}

.form-control {
    margin-bottom: 1vh;
    width:100%;
}

.btn.btn-success {
    width: 100%;
    margin-bottom:1vh;
}

.control-label {
    margin-top: 0.8vh;
}

