.btn.btn-success {
    
    width: 100%;
}

.form-group{
    font-weight: bold;
    color: white;
    font-size: 2vh;
    
}


.register{
    color: white;
    text-align:center;
}

h2 {
    font-size:15vh;
}

  