<link rel="stylesheet" type="text/css" href="~/Content/cssModal.css"/>
<div id="feedback-modal" class="modal" role="dialog">
	<div class="modal-body">
		<p id="modal-text" align="center"></p>
	</div>
</div>