
<div id="movieDetailsModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div id="movieDetailsModalDiv">
                    <div id="movieTitle"></div>
                    <div id="movieTrailer">
                        <iframe width="560" height="315" src="" 
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div id="movieCost"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" id="addToCartBtn">
					<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
				</button>
			</div>
		</div>
	</div>
</div>