<link href="~/Content/css/cssModal/cssModal.css" rel="stylesheet" />
<div id="validation-modal" class="modal" role="dialog">
    <div class="modal-body">
        <p align="center"></p>
    </div>
</div>