@model List<WebAppsProsjekt1.Models.Movie>

@{
    ViewBag.Title = "CartList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
    <head>
        <link href="~/Content/css/cssCart/cssCartList.css" rel="stylesheet" />
    </head>
    <body>
        <h1>CartList</h1>
        <div class="container-fluid" id="cart_container">
            @foreach (var movie in Model)
            { 
            <div class="row">
                <div class="col-lg-1">
                    <div class="img-container">
                        <img src="@movie.ImagePath" style="width:6vh; height:8vh;" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <h2>@movie.Title</h2>
                    <p>@movie.Category</p>
                </div>
                <div class="col-lg-8">
                    <h2>@movie.Cost Kroner</h2>
                </div>
            </div>
            }
        <input type="submit" class="btn btn-success"/>
        </div>
    </body>
</html>
