<link rel="stylesheet" type="text/css" href="~/Content/cssIndex.css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Background.cshtml";
}
<h1 class="movieMonster">MovieMonster</h1>
<div class="footer">
    <hr />
    <center><p>&copy; @DateTime.Now.Year Group 4 Production</p></center>
</div>
</body>
</html>