<link rel="stylesheet" type="text/css" href="~/Content/cssIndex.css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Background.cshtml";
}
<h1 class="movieMonster">MovieMonster</h1>
</body>
</html>