a:link,
a:hover,
a:active,
a:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
}

a:hover {
    color: #7f8c8d;
    text-decoration: underline;
}

.row {
	overflow-x: auto;
	min-height: 27vh;
}

    .row::-webkit-scrollbar {
        display: none;
    }

.row__inner {
	transition: 450ms transform;
	white-space: nowrap;
	margin: 7vh 0;
	padding-bottom: 2vh;
}

.tile {
    display: inline-block;
    position: relative;
    width: 19.2vh;
    height: 26.55vh;
    margin-right: 1vh;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.tile__img {
    width: 19.2vh;
    height: 26.5vh;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 2vh;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
	word-break: break-word;
	white-space:normal;
}

    .tile__details:after,
    .tile__details:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: #000;
    }

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 0;
    padding: 1vh;
}

.row__inner:hover {
    transform: translate3d(-6.5vh, 0, 0);
}

    .row__inner:hover .tile {
        opacity: 0.3;
    }

        .row__inner:hover .tile:hover {
            transform: scale(1.5);
            opacity: 1;
        }

.tile:hover ~ .tile {
    transform: translate3d(10vh, 0, 0);
}

.btn {
    width:initial;
}

h2 {
	text-align:center;
}