.text-danger {
    font-size: 1.5vh;
    color: #ff1a1a;
    text-shadow: 0.2vh 0.2vh 0.3vh #000000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#disclaimer {
	max-width: 70%;
}

.form-container {
	background: rgb(255, 255, 255, 0.3);
	box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.5);
	border-radius: 0.4vh;
	padding:2em;
}