@model WebAppsProsjekt1.Models.Customer
@{
    ViewBag.Title = "RegisterCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<form action="/Customer/NewCustomer" method="post">
    <table>
        <tr>
            <td>
                Navn
            </td>
            <td>
                <input type="text" name="Name" />
            </td>
        </tr>
    </table>
    <input type="submit" name="buttonSubmit" value="Register" />
</form>

