p, h1, h2 {
    color: white;
    text-shadow: 0.2vh 0.2vh 0.6vh #000000;
}

#cart_container {
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 0.4vh;
}

.btn.btn-success {
    width: 100%;
}
