@model List<WebAppsProsjekt1.Models.Movie>

@{
    ViewBag.Title = "ListMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        <h2>Movies</h2>
        <table class="table">
            <tr>
            </tr>
            @foreach (var movie in Model)
            {
                
                if (movie.ImagePath == null)
                {
                    <th></th>
                }
                else
                {
                    <th><a><img src="@Url.Content(movie.ImagePath)" alt="Image" height="250px" width="150px" /></a></th>
                }
                
            }
        </table>
    </div>
</body>

