<div id="movieDetailsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="movieDetailsModalDiv">
                    <table class="table">
                        <tr>
                            <th id="movieTitle"></th>
                            <th></th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td><img id="movieImage" src="" height="200px" width="150px" /></td>
                            <td></td>
                            <td>NEO IS THE ONE!</td>
                        </tr>
                        <tr>
                            <td id="movieCost"></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="addToCartBtn">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                Add to cart</button>
            </div>
        </div>
    </div>
</div>