<div id="movieDetailsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="movieDetailsModalDiv">
                    <table>
                        <img id="movieImage" src="" height="200px" width="150px" />
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="addToCartBtn">Add to cart</button>
            </div>
        </div>
    </div>
</div>